<span hx-swap-oob="true" id="pwd-aur-tnt-val-aur-pwd-len">
	{{if .ResultSet.LenPass}}
	<span class="text-green-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-len-success"}}
	</span>
	{{else}}
	<span class="text-red-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-len-error"}}
	</span>
	{{end}}
</span>

<span hx-swap-oob="true" id="pwd-aur-tnt-val-aur-pwd-inc-num">
	{{if .ResultSet.NumPass}}
	<span class="text-green-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-inc-num-success"}}
	</span>
	{{else}}
	<span class="text-red-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-inc-num-error"}}
	</span>
	{{end}}
</span>

<span hx-swap-oob="true" id="pwd-aur-tnt-val-aur-pwd-inc-sym">
	{{if .ResultSet.SymPass}}
	<span class="text-green-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-inc-sym-success"}}
	</span>
	{{else}}
	<span class="text-red-700">
		{{.T "web-core-auth-pwd-aur-tnt-mod-form.message-aur-pwd-inc-sym-error"}}
	</span>
	{{end}}
</span>
