{{ define "res" }}
	{{ $hasRoleWebCoreSsnTntDel := .HasRole "role_web_core_auth_ssn_tnt_del" }}
	{{ $currUserName            := .User.AurNm}}
	<thead>
		<tr>
			{{ if $hasRoleWebCoreSsnTntDel }}
			<th scope="col"
			    class="relative px-7 sm:w-12 sm:px-6">
				<div class="group absolute top-1/2 left-4 -mt-2 grid size-4 grid-cols-1">
					<input type="checkbox"
					       id="ssn-tnt-inf-wauhs-ssn-tk"
					       class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
					       _="install CbdgSelectAll(tb : #ssn-tnt-inf-res, rcb : 'ssn-tnt-inf-wauhs-ssn-tk', btn : #ssn-tnt-inf-dgd-btn-txt, btntmptxt : #ssn-tnt-inf-dgd-btn-tmp-txt)">
					<svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
						<path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</th>
			{{ end }}
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-ssn-tnt-inf-results.header-label-aur-nm"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-ssn-tnt-inf-results.header-label-rolname"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-ssn-tnt-inf-results.header-label-cts"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-ssn-tnt-inf-results.header-label-wauhs-exp-ts"}}
			</th>
		</tr>
	</thead>
	<tbody class="bg-white">
	{{ range $ssn := .ResultSet.Search }}
		<tr class="even:bg-gray-50">
			{{ if $hasRoleWebCoreSsnTntDel }}
			<td class="relative px-7 sm:w-12 sm:px-6">
				<div class="group absolute top-1/2 left-4 -mt-2 grid size-4 grid-cols-1">
					{{if ne $currUserName $ssn.AurNm}}
					<input type="checkbox"
					       name="ssn-tnt-inf-wauhs-ssn-tk"
					       value="{{ $ssn.WauhsSsnTk }}"
					       class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
					       _="install CbdgSelectRow(tb : #ssn-tnt-inf-res , acb : #ssn-tnt-inf-wauhs-ssn-tk , btn : #ssn-tnt-inf-dgd-btn-txt , btntmptxt : #ssn-tnt-inf-dgd-btn-tmp-txt)">
					<svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
						<path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					{{end}}
				</div>
			</td>
			{{ end }}
			<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
				{{ $ssn.AurNm }}
			</td>
			<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
				{{ $ssn.RolName }}
			</td>
			<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
				{{ $ssn.Cts }}
			</td>
			<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
				{{ $ssn.WauhsExpTs }}
			</td>
		</tr>
	{{ end }}
	{{ if eq (len .ResultSet.Search) .ResultSet.ResultLimit }}
		<tr>
			<td>
				<span id="ssn-tnt-inf-scr"
				      hx-target="closest tr"
				      hx-trigger="revealed"
				      hx-swap="outerHTML"
				      hx-select="tbody > tr"
				      hx-get="/web/core/auth/ssn/tnt?{{.ResultSet.Params }}">
				</span>
			</td>
		</tr>
	{{ end }}
	</tbody>
{{ end }}
