{{ define "res-spc" }}
	{{ $hasRoleWebCoreS2cTntInf := .HasRole "role_web_core_auth_s2c_tnt_inf" }}
	{{ $hasRoleWebCoreS2cTntMod := .HasRole "role_web_core_auth_s2c_tnt_mod" }}

	{{ $editButtonLabel         := .T "web-core-auth-s2c-tnt-inf-spc-results.edit-button-label" }}
	<thead>
		<tr>
			{{ if $hasRoleWebCoreS2cTntMod }}
			<th scope="col"
			    class="relative px-7 sm:w-12 sm:px-6">
				<div class="group absolute top-1/2 left-4 -mt-2 grid size-4 grid-cols-1">
					<input type="checkbox"
					       id="s2c-tnt-inf-spc-id"
					       class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
					       _="install CbdgSelectAll(tb : #s2c-tnt-inf-spc-res, rcb : 's2c-tnt-inf-spc-id', btn : #s2c-tnt-inf-spc-dgd-btn-txt, btntmptxt : #s2c-tnt-inf-spc-dgd-btn-tmp-txt)">
					<svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
						<path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</th>
			{{ end }}
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-s2c-tnt-inf-spc-results.header-label-spc-nm"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-s2c-tnt-inf-spc-results.header-label-cn-nm"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-s2c-tnt-inf-spc-results.header-label-inc-ts"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-s2c-tnt-inf-spc-results.header-label-exp-ts"}}
			</th>
			<th scope="col"
			    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
				{{.T "web-core-auth-s2c-tnt-inf-spc-results.header-label-enabled"}}
			</th>
			{{ if $hasRoleWebCoreS2cTntMod }}
			<th>
			</th>
			{{ end }}
		</tr>
	</thead>
	<tbody class="bg-white">
		{{ range $spc := .ResultSet.Spc }}
			<tr class="even:bg-gray-50">
				{{ if $hasRoleWebCoreS2cTntMod }}
				<td class="relative px-7 sm:w-12 sm:px-6">
					<div class="group absolute top-1/2 left-4 -mt-2 grid size-4 grid-cols-1">
						<input type="checkbox"
						       name="s2c-tnt-inf-spc-id"
						       value="{{ $spc.SpcId }}"
						       class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
						       _="install CbdgSelectRow(tb : #s2c-tnt-inf-spc-res , acb : #s2c-tnt-inf-spc-id , btn : #s2c-tnt-inf-spc-dgd-btn-txt , btntmptxt : #s2c-tnt-inf-spc-dgd-btn-tmp-txt)">
						<svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
							<path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
				</td>
				{{ end }}
				<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
					{{ $spc.SpcNm }}
				</td>
				<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
					{{ $spc.SpcCnNm }}
				</td>
				<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
					{{ $spc.SpcIncTs }}
				</td>
				<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
					{{ $spc.SpcExpTs }}
				</td>
				<td class="relative px-7 sm:w-12 sm:px-6">
					<div class="group absolute top-1/2 left-4 -mt-2 grid size-4 grid-cols-1">
						<input type="checkbox"
						       id="s2c-tnt-inf-spc-enabled-{{$spc.SpcId}}"
						       name="s2c-tnt-inf-spc-enabled-{{$spc.SpcId}}"
						       value="true"
						       disabled
						       {{if $spc.SpcEnabled}}checked{{end}}
						       class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto">
						<svg class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25" viewBox="0 0 14 14" fill="none">
							<path class="opacity-0 group-has-checked:opacity-100" d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							<path class="opacity-0 group-has-indeterminate:opacity-100" d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
					</div>
				</td>
				{{if $hasRoleWebCoreS2cTntMod}}
				<td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">
					<button hx-get="/web/core/auth/s2c/tnt/id/spc/{{ $spc.SpcId }}"
						hx-target="closest tr"
						hx-swap="outerHTML"
						class="relative flex rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						<img class="htmx-indicator htmx-spinner absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
						     src="/static/img/spinner-white.svg"
						     alt="Progress indicator">
						<span class="htmx-indicator htmx-text">
							{{ $editButtonLabel }}
						</span>
					</button>
				</td>
				{{end}}
			</tr>
		{{ end }}

		{{ if eq (len .ResultSet.Spc) .ResultSet.ResultLimit }}
			<tr>
				<td>
					<span id="s2c-tnt-inf-spc-scr"
					      hx-target="closest tr"
					      hx-trigger="revealed"
					      hx-swap="outerHTML"
					      hx-select="tbody > tr"
					      hx-get="/web/core/auth/s2c/tnt?{{.ResultSet.SpcParams }}"
					      hx-indicator="#s2c-tnt-inf-spc-scr-indicator">
					</span>

					<img id="s2c-tnt-inf-spc-scr-indicator"
					     class="htmx-indicator htmx-spinner"
					     src="/static/img/spinner-black.svg"
					     alt="Progress indicator">
				</td>
			</tr>
		{{ end }}
	</tbody>
{{ end }}
