[Unit]
Description=base-app-api
After=network.target

[Service]
Type=simple
User=andrew
Group=andrew

WorkingDirectory=/home/andrew
ExecStart=/home/andrew/base-app-api \
    -port 8082 \
    -loglvl debug \
    -pghost localhost \
    -pgport 5432 \
    -pguser postgres \
    -pgdb base-app \
    -pgsslmode disable \
    -pgcred password-systemd

# For dev: Restart=no
# For prod: Restart=always
Restart=no

# Supports retrieval of postgres password from systemd
LoadCredentialEncrypted=postgres-password:/etc/credstore.encrypted/postgres-password

# Dev-friendly settings
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
